body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #444240;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.section-title {
    font-family: "Playfair Display", sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: #1B1A17;
}

.button {
    display: inline-block;

    padding: 25px;

    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.button-dark {
    background-color: #444240;
}

.button-light {
    background-color: #D4B098;
}

.main-header {
    background-color: #FDFDFB;
}

.main-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.logo-header {
    padding: 30px 0 25px;
}

.menu-list {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 35px 0 20px;
}

.menu-item {
    margin-right: 65px;
}

.menu-item a {
    font-size: 14px;
    color: #555248;
    text-decoration: none;
}

.product-navigation {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 30px 0;
    padding-top: 40px;
}

.product-navigation-item {
    margin-right: 23px;
    position: relative;
}

.product-navigation a {
    display: inline-block;
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-item {
    width: 16px;
    height: 16px;
    background: url("../img/search.svg") no-repeat center;
}

.favourites-item {
    width: 19px;
    height: 16px;
    background: url("../img/hearth.svg") no-repeat center;
}

.basket-item {
    width: 18px;
    height: 16px;
    background: url("../img/basket.svg") no-repeat center;
}

.promo {
    background-color: #FDFDFB;
}

.promo-wrapper {
    display: flex;
}

.promo-text-column {
    width: 432px;
    margin-right: 55px;
    padding-left: 87px;
    padding-top: 225px;
}

.promo-title {
    line-height: 160%;
}

.promo-title span {
    font-size: 45px;
}

.promo-text {
    color: #1B1A17;
    opacity: 0.82;
    font-size: 14px;
    font-weight: 300;
    line-height: 152%;

    max-width: 260px;
    margin-top: 35px;
    margin-bottom: 60px;
}

.promo-img-column {
    display: flex;
    width: 506px;
    position: relative;
}


.promo-price {
    position: absolute;
    top: 138px;
}

.promo-diameter {
    position: absolute;
    right: 0;
    bottom: 142px;
}

.popular {
    padding-top: 65px;
    padding-bottom: 86px;
}

.popular-title {
    margin: 0 auto;
    text-align: center;
}

.popular-header {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.popular-header a {
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 1px solid #C4C0B6;

    font-weight: 500;
    text-decoration: none;
    color: #444240;
}

.popular-list {
    display: flex;

    list-style: none;
    margin: 0;
    margin-right: -34px;
    margin-top: 25px;
    padding: 0;
}

.popular-item {
    width: 370px;
    margin-right: 34px;
    padding: 40px 28px;
}

.popular-item-title {
    margin: 0;
    margin-left: 12px;

    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 173%;
    letter-spacing: 0.03em;
    color: #1B1A17;
    opacity: 0.82;
    text-transform: uppercase;
}

.popular-item-price {
    margin: 0;
    margin-left: 12px;
    margin-top: 5px;

    font-family: "Prata", sans-serif;
    font-size: 12px;
    color: #1B1A17;
    opacity: 0.82;
}

.popular-item div {
    position: relative;
}

.popular-item div::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 315px;
    height: 315px;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

.popular-item div::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 318px;
    height: 318px;
    background: linear-gradient(to left, #E9E3D4 0, rgba(226, 208, 196, 0) 100%);
    border-radius: 50%;
    z-index: -1;
}

.more {
    display: inline-block;
    margin-top: 15px;
    margin-left: 60px;

    font-family: "Playfair Display", sans-serif;
    color: #1B1A17;
    text-decoration: none;
}

.quality {
    background-color: #FDFDFB;
    padding-top: 52px;
    padding-bottom: 20px;
}

.quality-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.quality-img-column {
    display: flex;
    flex-direction: column;

    width: 521px;
    margin-left: 79px;
    margin-right: 70px;
}

.paging {
    display: inline-block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 108px;

    font-family: "Prata", sans-serif;
    font-size: 12px;
    color: rgba(27,26,23,0.82);
}

.quality-text-column {
    width: 400px;
    padding-top: 78px;
}

.quality-text-column .button {
    width: 40%;
}

.quality-title {
    margin: 0;
}

.quality-text {
    line-height: 150%;
    margin-top: 38px;
    margin-bottom: 45px;
}

.news {
    padding-top: 80px;
    padding-bottom: 90px;
}

.news-wrapper {
    display: flex;
}

.news-text-column {
    width: 481px;
    margin-right: 60px;
    padding-top: 140px;
}

.news-title {
    margin: 0;
}

.news-text {
    max-width: 380px;
    margin-top: 40px;
    margin-bottom: 118px;

    line-height: 170%;
}

.news-text span {
    color: #262421;
    font-weight: bold;
}

.social-list {
    display: flex;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.social-item {
    margin-right: 18px;
    font-size: 0;
    position: relative;
}

.social-item a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.social-instagram {
    width: 23px;
    height: 24px;
    background: url("../img/instagram_icon.svg");
}

.social-facebook {
    width: 12px;
    height: 21px;
    background: url("../img/facebook_icon.svg");
}

.social-twitter {
    width: 22px;
    height: 18px;
    background: url("../img/twitter_icon.svg");
}

.news-images-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 470px;
    margin-right: -10px;
    margin-bottom: -10px;

}

.news-images-column img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.news-images-column img:last-of-type {
    height: 100%;
}

.main-footer {
    padding-top: 80px;
    padding-bottom: 67px;
    background-color: #444240;
}

.main-footer a {
    display: inline-block;

    font-size: 12px;
    color: #ffffff;
    opacity: 0.75;
    text-decoration: none;
}

.footer-wrapper {
    display: flex;
}

.main-footer-item {
    width: 200px;
    margin-left: 87px;
    margin-right: 54px;
}

.telephone {
    margin: 22px 0 15px;
}

.links {
    display: flex;
    margin: 0;
    margin-top: 12px;
}

.links dl {
    margin: 0;
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: white;
}

.links dt {
    width: 200px;
    margin-right: 65px;
}

.links-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links-item {
    margin-bottom: 15px;
}


